@charset "utf-8";
html,body{-webkit-text-size-adjust:none}
body,input,textarea,select,button{font:20px/1.42 "Microsoft YaHei",Tahoma,Arial,Helvetica,Geneva,sans-serif;color:#fff;}
input,textarea,select,button{font-size:1em}
body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,div,header,footer,nav,section,article,aside,figure,summary{margin:0; padding:0;}
li{list-style:none;}
a,button,li,ul,img,#hback{text-decoration:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
img,button{border:none; vertical-align:middle}
table{border-collapse:separate;border-spacing:0;}
.ma{margin:auto;}
.fl{float:left;}
.fr{float:right;}
.cl:after,.cl:before{content:"";clear:both;display:table;}
.clear{clear:both}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.tj{text-align:justify}
.pr{position:relative}
.pa{position:absolute}
.pf{position:fixed}

.back{width: 14%;height: 8%;top: 0.5%;left: 1.5%;background:url(./images/sgthai_back_v1.png) no-repeat; background-size: 100% 100%;z-index: 9;}

/*将错就错，保留兼容上过的活动*/
#loading{width:32px;height:32px;position:absolute;transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);z-index:10;display:block;top:50%;left:50%}
.nromal-dlg-shadow{position:absolute;width:100%;height:100%;top:0;left:0}
.nromal-dlg-shadow{z-index:5}
#nromal-dlg-body{position: absolute; top: 32%; left: 44%; width: 84%; z-index: 11; text-align: center; background: url(../images/bg.png) no-repeat 0 0; background-size: 100% 100%; text-align: center; color: #000000; }
#nromal-dlg-body > h1{width: 99%; font-size: 1.8em; font-weight: 400; line-height: 1.5; position: relative; top: -0.6em; padding: 4% 0 3%; color: #fff; border-bottom: 0px solid #005310; box-shadow: 0 0px 0 #00a21e; text-shadow: 0 1px 1px rgba(0,0,0,.6); background: url(../images/frame.png) no-repeat; background-size: 100% 100%; }
.nromal-dlg-close{background-image: url(../images/close.png); position: absolute; right: -2%; top: -7%; width: 2.4em; height: 2.4em; background-size: 100% 100%; }
#nromal-dlg-body>section{font-size: 1.8em; line-height: 1em; color: #e6d1ff; padding: 9% 3% 9% 3%; background: url(../images/list_btn_bg.png) no-repeat 0 0; background-size: 100% 100%; margin: -1% 4% 2% 4%; width: 92%; }
#nromal-dlg-body>.minrule{height: 20em;overflow-y: auto; padding-top: 4%;line-height: 1.4em;}
#nromal-dlg-body .confirm{font: bold 1.6em/1.2 Microsoft YaHei, sans-serif; text-align: center; display: inline-block; color: #ffffff; margin: 0% 6% 4% 6%; border-radius: 8px; padding: 2% 8%; text-decoration: none; border: none; cursor: pointer; font-weight: bold; background: url(../images/dbtn.png) no-repeat 0 0;  background-size: 100% 100%; }
#nromal-dlg-body>section .get{background-size: 39% 100%;padding-top: 0}
#nromal-dlg-body>section .get>p{margin-top:3%;width: 17%;margin: 0 auto; color: #000000;font-size: 1.2em;}
#nromal-dlg-body>section .get img{width: 45%;margin-top:3%;}
#nromal-dlg-body>section .txt{width: 100%;position: static !important;}

/*现在正常的*/
#loading{width:32px;height:32px;position:absolute;transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);z-index:10;display:block;top:50%;left:50%}
.normal-dlg-shadow{position:absolute;width:100%;height:100%;top:0;left:0}
.normal-dlg-shadow{z-index:5}
#normal-dlg-body{position: absolute; top: 32%; left: 44%; width: 84%; z-index: 11; text-align: center; background: url(../images/bg.png) no-repeat 0 0; background-size: 100% 100%; text-align: center; color: #000000; }
#normal-dlg-body > h1{width: 99%; font-size: 1.8em; font-weight: 400; line-height: 1.5; position: relative; top: -0.6em; padding: 4% 0 3%; color: #fff; border-bottom: 0px solid #005310; box-shadow: 0 0px 0 #00a21e; text-shadow: 0 1px 1px rgba(0,0,0,.6); background: url(../images/frame.png) no-repeat; background-size: 100% 100%; }
.normal-dlg-close{background-image: url(../images/close.png); position: absolute; right: -2%; top: -7%; width: 2.4em; height: 2.4em; background-size: 100% 100%; }
#normal-dlg-body>section{font-size: 1.8em; line-height: 1em; color: #e6d1ff; padding: 9% 3% 9% 3%; background: url(../images/list_btn_bg.png) no-repeat 0 0; background-size: 100% 100%; margin: -1% 4% 2% 4%; width: 92%; }
#normal-dlg-body>.minrule{height: 20em;overflow-y: auto; padding-top: 4%;line-height: 1.4em;}
#normal-dlg-body .normal-dlg-confirm{font: bold 1.6em/1.2 Microsoft YaHei, sans-serif; text-align: center; display: inline-block; color: #ffffff; margin: 0% 6% 4% 6%; border-radius: 8px; padding: 2% 8%; text-decoration: none; border: none; cursor: pointer; font-weight: bold; background: url(../images/dbtn.png) no-repeat 0 0;  background-size: 100% 100%; }
#normal-dlg-body>section .get{background-size: 39% 100%;padding-top: 0}
#normal-dlg-body>section .get>p{margin-top:3%;width: 17%;margin: 0 auto; color: #000000;font-size: 1.2em;}
#normal-dlg-body>section .get img{width: 45%;margin-top:3%;}
#normal-dlg-body>section .txt{width: 100%;position: static !important;}



#loading{width:32px;height:32px;position:absolute;transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);z-index:10;display:block;top:50%;left:50%}
.strong-dlg-shadow{position:absolute;width:100%;height:100%;top:0;left:0}
.strong-dlg-shadow{z-index:5}
#strong-dlg-body{position: absolute; top: 32%; left: 44%; width: 84%; z-index: 11; text-align: center; background: url(../images/bg.png) no-repeat 0 0; background-size: 100% 100%; text-align: center; color: #000000; }
#strong-dlg-body > h1{width: 99%; font-size: 1.8em; font-weight: 400; line-height: 1.5; position: relative; top: -0.6em; padding: 4% 0 3%; color: #fff; border-bottom: 0px solid #005310; box-shadow: 0 0px 0 #00a21e; text-shadow: 0 1px 1px rgba(0,0,0,.6); background: url(../images/frame.png) no-repeat; background-size: 100% 100%; }
.strong-dlg-close{background-image: url(../images/close.png); position: absolute; right: -2%; top: -7%; width: 2.4em; height: 2.4em; background-size: 100% 100%; }
#strong-dlg-body>section{font-size: 1.8em; line-height: 1em; color: #e6d1ff; padding: 9% 3% 9% 3%; background: url(../images/list_btn_bg.png) no-repeat 0 0; background-size: 100% 100%; margin: -1% 4% 2% 4%; width: 92%; }
#strong-dlg-body .confirm{font: bold 1.6em/1.2 Microsoft YaHei, sans-serif; text-align: center; display: inline-block; color: #ffffff; margin: 0% 6% 4% 6%; border-radius: 8px; padding: 2% 8%; text-decoration: none; border: none; cursor: pointer; font-weight: bold; background: url(../images/dbtn.png) no-repeat 0 0;  background-size: 100% 100%;}
.strong-dlg-li {list-style: none;width: 40%;margin: auto 2%;}
#strong-dlg-body .strong-dlg-a{text-align: center; display: inline-block; color: #ffffff;height: 2.4em;line-height: 2em; margin: 0% 2% 14% 2%; border-radius: 8px; padding: 2% 2%; text-decoration: none; border: none; cursor: pointer; font-weight: bold; background: url(../images/dbtn.png) no-repeat 0 0;  background-size: 100% 100%;}



#loading{width:32px;height:32px;position:absolute;transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);z-index:10;display:block;top:50%;left:50%}
.form-dialog-shadow{position:absolute;width:100%;height:100%;top:0;left:0}
.form-dialog-shadow{z-index:5}
#form-dialog-body{position: absolute; top: 32%; left: 44%; width: 84%; z-index: 11; text-align: center; background: url(../images/bg.png) no-repeat 0 0; background-size: 100% 100%; text-align: center; color: #000000; }
#form-dialog-body > h1{width: 99%; font-size: 1.8em; font-weight: 400; line-height: 1.5; position: relative; top: -0.6em; padding: 4% 0 3%; color: #fff; border-bottom: 0px solid #005310; box-shadow: 0 0px 0 #00a21e; text-shadow: 0 1px 1px rgba(0,0,0,.6); background: url(../images/frame.png) no-repeat; background-size: 100% 100%; }
.form-dialog-close{background-image: url(../images/close.png); position: absolute; right: -2%; top: -7%; width: 2.4em; height: 2.4em; background-size: 100% 100%; }
#form-dialog-body>section{font-size: 1.8em; line-height: 1em; color: #e6d1ff; padding: 9% 3% 9% 3%; background: url(../images/list_btn_bg.png) no-repeat 0 0; background-size: 100% 100%; margin: -1% 4% 2% 4%; width: 92%;box-shadow: 0 0px 0px rgba(200,71,67,.5),inset 0 0px 0px rgba(0,0,0,.35); }
#form-dialog-cont label {width: 36%;}
#form-dialog-cont label>b{color: red!important;}
#form-dialog-cont input{width:60%; color: #fff;}
.form-dialog-a{font: bold 1.6em/1.2 Microsoft YaHei, sans-serif;text-align: center; display: inline-block; color: #ffffff; margin: 0% 6% 4% 6%; border-radius: 8px; padding: 2% 2%; text-decoration: none; border: none; cursor: pointer; font-weight: bold; background: url(../images/dbtn.png) no-repeat 0 0;  background-size: 100% 100%; }
#error-info{color: red !important;}


.rule{max-height: 18em;overflow-y:auto; }
.rule >li{list-style: none; list-style: decimal inside;}
.rule >li >ol >li{list-style: outside decimal;}
.rule >li{list-style: none;text-align:left; list-style: decimal inside;}

.rank caption{border-bottom: 1px solid #cbcbcb;}
.rank{width: 100%; margin: 0 auto; } 
.rank td {padding: 1%; width: 50%; color: #000; border-bottom: 1px solid #cbcbcb; }
.rank td em {font-style: normal; color: #ffe64c; }
.rank thead td {color: #000;}
.rank tbody tr:nth-child(even) > td {}
.rank tbody tr:nth-child(odd) > td {}

/*.state-on
{
    border-radius: .4em;
    background: #f58e00;
    background:    -moz-linear-gradient(top,rgba(245,142,0,1) 0,rgba(236,115,0,1) 59%,rgba(229,101,0,1) 62%,rgba(230,103,0,1) 62%,rgba(231,94,0,1) 87%,rgba(230,97,0,1) 87%,rgba(232,91,0,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(245,142,0,1)),color-stop(59%,rgba(236,115,0,1)),color-stop(62%,rgba(229,101,0,1)),color-stop(62%,rgba(230,103,0,1)),color-stop(87%,rgba(231,94,0,1)),color-stop(87%,rgba(230,97,0,1)),color-stop(100%,rgba(232,91,0,1)));
    background: -webkit-linear-gradient(top,rgba(245,142,0,1) 0,rgba(236,115,0,1) 59%,rgba(229,101,0,1) 62%,rgba(230,103,0,1) 62%,rgba(231,94,0,1) 87%,rgba(230,97,0,1) 87%,rgba(232,91,0,1) 100%);
    background:      -o-linear-gradient(top,rgba(245,142,0,1) 0,rgba(236,115,0,1) 59%,rgba(229,101,0,1) 62%,rgba(230,103,0,1) 62%,rgba(231,94,0,1) 87%,rgba(230,97,0,1) 87%,rgba(232,91,0,1) 100%);
    background:         linear-gradient(to bottom,rgba(245,142,0,1) 0,rgba(236,115,0,1) 59%,rgba(229,101,0,1) 62%,rgba(230,103,0,1) 62%,rgba(231,94,0,1) 87%,rgba(230,97,0,1) 87%,rgba(232,91,0,1) 100%);
    box-shadow: inset 0 1px 0 #d3a971,inset 0 1px 1px 0 #f38300,0 1px 1px rgba(0,0,0,.8);
}
.state-on {font: 1em/1 'Microsoft YaHei',sans-serif; width: 80%; padding: 6% 0; cursor: pointer; color: #000;width: auto; padding: 1.2% 3%; }
*/


.dialog .body button, .state-on{
	    border-radius: .4em;
    background: #f58e00;
    background: -moz-linear-gradient(top,rgba(245,142,0,1) 0,rgba(236,115,0,1) 59%,rgba(229,101,0,1) 62%,rgba(230,103,0,1) 62%,rgba(231,94,0,1) 87%,rgba(230,97,0,1) 87%,rgba(232,91,0,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(245,142,0,1)),color-stop(59%,rgba(236,115,0,1)),color-stop(62%,rgba(229,101,0,1)),color-stop(62%,rgba(230,103,0,1)),color-stop(87%,rgba(231,94,0,1)),color-stop(87%,rgba(230,97,0,1)),color-stop(100%,rgba(232,91,0,1)));
    background: -webkit-linear-gradient(top,rgba(245,142,0,1) 0,rgba(236,115,0,1) 59%,rgba(229,101,0,1) 62%,rgba(230,103,0,1) 62%,rgba(231,94,0,1) 87%,rgba(230,97,0,1) 87%,rgba(232,91,0,1) 100%);
    background: -o-linear-gradient(top,rgba(245,142,0,1) 0,rgba(236,115,0,1) 59%,rgba(229,101,0,1) 62%,rgba(230,103,0,1) 62%,rgba(231,94,0,1) 87%,rgba(230,97,0,1) 87%,rgba(232,91,0,1) 100%);
    background: linear-gradient(to bottom,rgba(245,142,0,1) 0,rgba(236,115,0,1) 59%,rgba(229,101,0,1) 62%,rgba(230,103,0,1) 62%,rgba(231,94,0,1) 87%,rgba(230,97,0,1) 87%,rgba(232,91,0,1) 100%);
    box-shadow: inset 0 1px 0 #d3a971,inset 0 1px 1px 0 #f38300,0 1px 1px rgba(0,0,0,.8);
}