#bgvideo, .mask {
    top:0;
    left:0;
    position:absolute
}
.mask, body, html {
    width:100%;
    height:100%
}
.logo, .nav {
    margin-bottom:0
}
.cont ul, .nav {
    list-style:none
}
#bgvideo, .mask {
    position:absolute
}
.cont p, .footer {
    text-align:center
}
.footer .doc a, .footer .txt a, .nav li a {
    color:#fff;
    text-decoration:none
}
body, html {
    overflow:hidden
}
#bgvideo {
    z-index:-2;
    background-color:#818793
}
.mask {
    z-index:-1;
    background-color:rgba(1, 7, 20, .3)
}

.header {
    width: 100%;
    padding-top:40px
}
.logo {
    margin-top:0;
    padding-left:80px;
    width:100%;
}
.logo_icon{
    margin-left: 20%;
    float: left;

    width: 36px; height: 36px;
    background: url('./../images/t_icon.png') -10px -66px;
}
#voice{
    background-image:url(../images/t_icon.png);
    background-repeat:no-repeat
}
.voice {
    margin-right: 20%;
    float:right;
    width: 36px; height: 36px;
    border-radius:20px;
    background-position: -10px -10px;
    cursor:pointer
}

.cont {
    margin:0 auto;
    /* width:1200px; */
    width: 100%;
    padding-top:400px
}
.cont ul {
    margin:176px auto 0;
    width:630px;
    height:76px
}
.cont li {
    margin-left:30px;
    margin-right:30px;
    float:left;
    width:252px;
    line-height:90px;
    border-radius:38px
}
.cont li a, .cont li span {
    display:block;
    width:100%;
    height:100%;
    text-indent:-9999px;
    opacity:.7;
    filter:alpha(opacity=70);
    outline:0
}
.cont li a, .cont li span {
    background-image:url(../images/app_icon.png);
    background-repeat:no-repeat
}
.cont li a:hover, .cont li span:hover {
    opacity:1;
    filter:alpha(opacity=100)
}
.cont li:nth-of-type(1) a {
    background-position:-10px -10px;
}
.cont li:nth-of-type(2) a {
    background-position:-10px -116px;
}


.footer {
    position:fixed;
    left:0;
    bottom:0;
    padding-bottom:10px;
    width:100%;
    font-size:12px
}
.footer .txt {
    margin-top:0;
    color:#fff;
    opacity:.6;
    filter:alpha(opacity=60);
    line-height:8px
}
.footer .txt span {
    padding-left:10px
}
.img-bei {
    width:14px;
    top:2px;
    position:relative
}
.txt_link a{
    margin: 10px;
   }


@media screen and (max-height:1000px) {
    .header {
        padding-top:20px
    }
    .logo {
        padding-left:0
    }
    .logo img {
        transform:scale(.7)
    }
    .nav {
        padding-right:20px
    }
    .cont {
        padding-top: 244px;
    }
    .cont ul {
        margin-top:90px;
        -webkit-transform:scale(.7);
        -moz-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7)
    }
    .cont>p {
        -webkit-transform:scale(.7);
        -moz-transform:scale(.7);
        -o-transform:scale(.7);
        transform:scale(.7)
    }
}


